#! /usr/bin/env python
# Create a cfg file for getting control parameters for dmoc optimal controller

PACKAGE = 'rqt_quadcoptergui'

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

#       Name               , Type     , Reconfiguration level , Description                      , Default , Min   , Max
gen.add("vx"              , double_t , 0                     , "Body Velocity x"                 , 0.0     , -4       , 4	)
gen.add("vy"              , double_t , 0                     , "Body Velocity y"                 , 0.0     , -4      , 4	)
gen.add("vz"              , double_t , 0                     , "Body Velocity z"                 , 0.0     , -4     , 4	)
gen.add("yaw_rate"              , double_t , 0                     , "Yaw Rate"                 , 0.0     , -0.5     , 0.5	)
gen.add("update_vel"      , bool_t   , 0x0002                , "Update Goal "                   , False)
gen.add("vel_mag"              , double_t , 0                     , "Body Velocity z"                 , 0.0     , -4     , 4	)
gen.add("yaw_gain"              , double_t , 0                     , "Body Velocity z"                 , 0.0     , 0     , 2	)
exit(gen.generate(PACKAGE , "Config" , "QuadcopterInterface"))




