<?xml version="1.0"?>
<launch>
	<arg name="dev" default="/dev/input/js1"/>
	<rosparam command="load" file="$(find rqt_quadcoptergui)/params/pixhawkgui_params.yaml" />
	<rosparam command="load" file="$(find rqt_quadcoptergui)/params/pixhawk_vrpn.yaml"/>
	<rosparam command="load" file="$(find rqt_quadcoptergui)/params/pixhawk_ctrlr.yaml"/>
	<rosparam command="load" file="$(find rqt_quadcoptergui)/params/pixhawk_serial.yaml"/>
	<param name="/gui/logdir" type="string" value="$(find rqt_quadcoptergui)/logfiles"/>
	<include file="$(find gcop_est)/launch/estimator1.launch"/>
	<node pkg="rqt_gui" type="rqt_gui" name="gui" output="screen"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="pixhawk_to_cam" args="0.088 0 -0.032 0.5 0.5 0.5 0.5 pixhawk camera" />
	<!--node pkg="tf2_ros" type="static_transform_publisher" name="pixhawk_to_cam" args="0.0882 0 -0.032 -0.5 0.5 -0.5 0.5 pixhawk camera" /-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="obj_mod_transform" args="0 0 0 0.5 -0.5 0.5 0.5 object object_mod"/>
	<!--node pkg="tf2_ros" type="static_transform_publisher" name="obj_mod_transform" args="0 0 0 0.7071 0 0.7071 0 object object_mod" New Object on Cupboard/-->
	<node pkg="ros_vrpn_client" type="ros_vrpn_client" name="vrpn_client" output="screen"/>
</launch>
<!--param name="baud" type="int" value="115200"/-->
<!--node pkg="mavlink_ros" name="serial_link" type="mavlink_ros_serial" args= "-p $(arg port)"/-->
<!--node pkg="joy" type="joy_node" name="joy_node">
<param name="dev" type="string" value="$(arg dev)"/>
</node-->

