<?xml version="1.0"?>
<launch>
  <!--param name="/gui/logdir" type="string" value="$(find rqt_quadcoptergui)/logfiles"/-->
  <node pkg="rqt_gui" type="rqt_gui" name="gui" output="screen"/>
  <!--node pkg="mavlink_ros" name="serial_link" type="mavlink_ros_serial" args= "-p $(arg port)"/-->
	<include file="$(find ros_vrpn_client)/launch/pixhawk.launch"/>
</launch>
