<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find rqt_quadcoptergui)/params/simulator_params.yaml"/>
  <param name="/gui/logdir" type="string" value="$(find rqt_quadcoptergui)/simlogfiles"/>
  <param name="/qrotoridmodeltest/control_params" type="str" value="$(find gcop_ctrl)/params/qrotoridmodelv5.cfg"/>
  <param name="/control/systemid_params" type="str" value="$(find rqt_quadcoptergui)/params/qrotorsystemid.cfg"/>
  <!--<param name="/gui/logdir" type="string" value="$(find rqt_quadcoptergui)/djilogfiles"/>-->
  <!--<node pkg="rqt_quadcoptergui" name="onboard_node" type="onboard_node" output="screen" launch-prefix="gdb--><!--args">-->
  <node pkg="rqt_quadcoptergui" name="onboard_node" type="onboard_node" output="screen">
    <remap from="/onboard_node/joy" to="/joy"/>
    <remap from="/onboard_node/goal" to="/move_base_simple/goal"/>
    <remap from="onboard_node/depth" to="camera_sim/depth_image"/>
    <remap from="onboard_node/roi" to="roi_out"/>
    <remap from="onboard_node/camera_info" to="camera_sim/camera_info"/>
    <remap from="onboard_node/image" to="camera_sim/image"/>
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="simquad_to_cam" args="0.13 0 0 -1.5707 0 -1.5707 simquad camera"/>
  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="/dev/input/js1"/>
  </node>
</launch>
